* {
  box-sizing: border-box;
}

body {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(assets/капли_воды_тема.jpg);
  background-size: cover;
  transition: all 2s ease-in-out;
  background-attachment: fixed;
}

.settings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.drop-down-list-style {
  padding: 5px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 20px;
}

.drop-down-list-style,
.theme,
.option,
.exitbtn {
  font-size: 20px;
}

.theme {
  border-radius: 5px;
}

.themePink {
  background-image: url("assets/sky.webp");
}

.themeGold {
  background-image: url('assets/texture.webp');
}

.themeDrops {
  background-image: url('assets/капли_воды_тема.jpg');
}

.exitbtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: lightcoral;
}

.exitbtn:hover {
  transform: scale(1.05);
}

.exitbtn:active {
  background-color: rgb(223, 35, 35);
  color: rgb(182, 224, 224);
}

.fon-chat {
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

.font-message {
  padding: 10px;
  padding-right: 30px;
  margin-bottom: 5px;
  width: max-content;
  max-width: 70%;
  min-width: 30px;
  border: none;
  border-radius: 10px;
  background-color: burlywood;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nick {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 30px;
}

.interactive-element {
  width: 60%;
  display: flex;
  gap: 10px;
}

.text-box {
  padding: 0px 10px;
  height: 40px;
  line-height: 30px;
  font-size: 25px;
  width: 100%;
}

.sentbtn {
  width: 42px;
  border-radius: 10px;
  background-color: bisque;
  color: transparent;
  background-image: url(assets/sent_message.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
}

.sentbtn:hover {
  transform: scale(1.1);
}

.sentbtn:active {
  background-color: aquamarine;
}

@media (max-width: 1200px) {

  .fon-chat {
    height: 75%;
    width: 80%;
  }

  .nick {
    font-size: 22px;
  }

  .font-message {
    min-width: 90%;
    font-size: 19px;
  }

  .settings-list {
    position: relative;
    gap: 5px;
    top: 0px;
    left: -31%;
  }

  .interactive-element {
    width: 80%;
  }

  .drop-down-list-style,
  .theme,
  .option,
  .exitbtn,
  .text-box {
    font-size: 16px;
  }

  .exitbtn {
height: 22px;
  }

  .text-box {
    height: 32px;
  }
}

@media (max-width: 800px) {

  .fon-chat {
    height: 75%;
    width: 90%;
  }

  .nick {
    font-size: 20px;
  }

  .font-message {
    min-width: 90%;
    font-size: 18px;
  }

  .settings-list {
    position: relative;
    gap: 5px;
    top: 0px;
    left: -28%;
  }

  .interactive-element {
    width: 90%;
  }

  .drop-down-list-style,
  .theme,
  .option,
  .exitbtn,
  .text-box {
    font-size: 14px;
  }

  .exitbtn {
height: 20px;
  }

  .text-box {
    height: 30px;
  }
}